*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto Light", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #c1c1c1;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
}

main {
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 10rem;
}
.card {
    background-color: #808080;
    border: black 2px dashed;
    padding: 40px;
    margin: auto;
    color: #fff;
}

.reglog {
    width: 80%;
    margin: auto;
}

input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 40px;
    transition: width 0.4s ease-in-out;
}
input:focus {
    background-color: #e0ffff;
    width: 80%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

footer {
    margin-top: auto;
    padding: 1rem;
    background-color: #c1c1c1;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

a:link {
    color: #00f;
    text-decoration: none;
}

a:visited {
    color: #0f0;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    margin-right: 1rem;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}